%p Are you sure you want to delete the following entry?

%form{ :action => "/delete/#{@type}/#{@id}/#{url_escape(@redirect_path)}", 
       :method => 'post' }
  %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
  %input.btn{ :type => 'submit', :value => 'Yes, Delete!' }
  %button.btn
    %a{ :href => @redirect_path } Cancel
